/* Post */
.AzBadge{background:linear-gradient(180deg,#559A89,#006152 15%,#005346);color:#D2F3D8;}
.GA{background:linear-gradient(180deg,#FFFDA4,#FFDE3B 10%,#FDBB0B);color:#49391C;}
.Clov{background:linear-gradient(180deg,#a5ffa4, #00ff08 10%,#1ebf00 100%);color:#135000;}
.jusGold{background:linear-gradient(180deg,#FDF68C,#EDA323 20%,#D28D0D 90%);color:#ffffba;}
.Apr{background:linear-gradient(180deg,#00DD00,#00a32b);}
.FeatRed{background:linear-gradient(180deg,#FF5522,#FF3311);}
.Bad{background:#783201;}
.Heavy{background:#585858;}
.Hilite{background:radial-gradient(circle,rgb(180 0 255) 0%,rgb(255 0 247) 100%);}
.Invis{background:radial-gradient(circle,rgba(116,146,187,1) 0%,rgba(4,59,132,1) 100%);}
.Pin{background:#FF3333;}
.Gam{background:#CC00CC;}
.tutor{background:#61861C;}
.memory{background:#FF799F;}
/* Post Brands */
.Dis{background:#5865F2;}
.Steam{background:linear-gradient(180deg,#111d2e 0%,#132e62 10%,#1387b8 100%);}
.Stack{background:#F47F24;}
.Tumb{background:#35465C;}
.Twitch{background:#9146FF;}
.VK{background:#4376A6;}
.Wix{background:#FAAD4D;}
.WP{background:#00749C;}
.YT{background:#E62117;}
.Wiki{background:#939598;}
.Trello{background:#007AC0;}
.Twitter{background:#08A0E9;}
.Redd{background:#FF4500;}
.GHFlav{background:#800080;}
.FaceBook{background:linear-gradient(180deg,rgba(23,169,253) 0%,rgba(1,101,225) 100%);}
/* User */