/* Vars Start */
:root {
	/* Defaults */
	--parent-mainfill: #47D182;
	--parent-textfill: #C3F8CD;
	--parent-flavourfontsize: 85%;
	/* SagiriHimoto Info */
	--SagiriHimotoAvatar: url('https://i.ibb.co/VpyYf1q/12-2.png');
	--SagiriHimotoBanner: url('https://i.ibb.co/68bJjjG/cover2-twitt.png');
}
/* Vars End */

html {
}
body {
	background-color: #333;
	font-family: Consolas;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.5px;
	margin:0;
	padding:0;
}
@font-face {
	font-family: "C64 Pro Mono Local";src:url(fonts/C64_Pro_Mono-STYLE.woff2) format("woff2");
}
/* .BlogPostFooter {
	background-color: #fff;
	margin-top: 25px;
	float: center;
	margin-top: 127%;
	border-top: 1px solid #9fa1a3;
} */
/* Blog Post Parts */
.BlogPostMain {
	min-height: 400px;
	padding-top: 200px;
	padding-left: 2%;
	padding-right: 2%;
}
.BlogPostTitle {
	font-size: 20px;
	margin: 5px 0px 15px 40px;
}
.TextFlavour {
	border: 2px solid var(--parent-mainfill);
	border-right: 4px solid var(--parent-mainfill);
	border-left: 4px solid var(--parent-mainfill);
	background-color: var(--parent-mainfill);
	color: var(--parent-textfill);
	border-radius: 3px;
	margin: auto 0 auto 5px;
	font-size: var(--parent-flavourfontsize);
}
.BlogText {
	background-color: #fff;
	border: 1px solid #9fa1a3;
	min-height: 400px;
	width: 72%;
	border-radius: 5px;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%; /* idk why but margin-bottom propert didn't work for "BlogPostMain", but it worked here */
	box-shadow: 0 0 10px rgb(0 0 0 / 80%);
}
.ABlogText {
	margin: 0px 20px 20px 40px;
	border-top: 1px solid #9fa1a3;
	padding-top: 10px;
}
.ABlogTextTitle {
	position: relative;
	display: inline-block;
	margin: 10px 0px 10px 0px;
	font-size: 19px;
	font-weight: bolder;
	border-bottom: 1px solid #9fa1a3;
	width: 100%;
}
.ABlogTextTitleSmall {
	position: relative;
	display: inline-block;
	margin: 10px 0px 10px 0px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #9fa1a3;
	width: 100%;
}
.ABlogTextItalics {
	font-style: oblique;
}
.ABlogTextBold {
	font-weight: bold;
}
.ABlogTextQuotes {
	border-radius: 5px;
	background-color: #333;
	color: #98F0A9;
	padding: 10px 0px 10px 10px;
	margin: 10px 0px 10px 0px;
	box-shadow: 0 0 10px rgb(0 0 0 / 80%);
}

.AuthorTextMuted {
	color: rgb(120, 124, 126);
	font-size: 12px;
	margin: 15px 0px 0px 40px;
}

.RightSideBarTitle {
	border: 1px solid var(--parent-mainfill);
	min-height: 10px;
	width: 25%;
	border-radius: 5px;
	float: left;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: var(--parent-mainfill);
	color: var(--parent-textfill);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 10px rgb(0 0 0 / 80%);
	position:relative; 
}
.avatarborder {
	position: absolute;
	border: 1px solid #9fa1a3;
	top: 50px;
	left: 25px;
	width: 80px;
	height: 80px;
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(0 0 0 / 80%);
}
.avatar {
	border: 3px solid #fff;
	width: 74px;
	height: 74px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}
.RightSideBarBottom {
	width: 25%;
	min-height: 10px;
	border-radius: 5px;
	float: left;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #fff;
	border: 1px solid #9fa1a3;
	margin-bottom: 25px;
	box-shadow: 0 0 10px rgb(0 0 0 / 80%);
}

/*-----------------------------*/
/*-----------Nav-bar-----------*/
/*-----------------------------*/
/* Change the color of links on hover */
.navigationbar  a:hover {
}

/* Add a color to the active/current link */
.navigationbar  a.active {
}
.navigationbar {
	background-color: #FFF;
	height: 45px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #9fa1a3;
	margin: 0px;
	z-index: 999;
	box-shadow: 0 0 10px rgb(0 0 0 / 80%);
}
/* Style the links inside the navigation bar */
.navigationbar a {
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/*-----------------------------*/
/*-------Progress-bar----------*/
/*-----------------------------*/
/* The progress container (grey background) */
.progress-container {
	width: 100%;
	height: 0%;
	background: #ccc;
	transition: height 0.5s ease-in-out 0s;
	box-shadow: 0 0 3px rgb(0 0 0 / 80%);
}

/* The progress bar (scroll indicator) */
.progress-bar {
	height: 0%;
	background: #47d182;
	width: 0%;
	transition: width 0.5s ease-in-out 0s;
	transition: height 0.5s ease-in-out 0s;
}
/*-----------------------------*/
/*-------Progress-bar-End------*/
/*-----------------------------*/
/*-----------------------------*/
/*----------Nav-bar-End--------*/
/*-----------------------------*/

.AuthorInfoAndIcon {
	border: 1px solid transparent;
}

/*-----------------------------*/
/*---------Tooltips------------*/
/*-----------------------------*/
.tooltipable {
	position: relative;
	display: inline-block;
	color: #006152;
/*	border-bottom: 2px dotted black; */
}
.tooltipable .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 63%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.tooltipable:hover {
	transition: 0.5s;
	color: #91C99C;
}
.tooltipable:hover .tooltiptext {
	opacity: 1;
	transition: 0.5s;
	visibility: visible;
	bottom: 100%;
}
.tooltipable .tooltiptext {
	opacity: 0;
	visibility: hidden;
	width: 150px;
	background-color: black;
	color: #C3F8CD;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
	font-size: 13px;
	left: 50%;
	bottom: 100%;
	margin-left: -75px;
	position: absolute;
	z-index: 1;
	margin-bottom: 5px;
	user-select: none;
	transition: all 0.2s 0.3s;
}
/*-----------------------------*/
/*---------Tooltips-End--------*/
/*-----------------------------*/