:root{
	--darkest-color:#ccc;
	--dark-color:#ddd;
	--bg-color:#fff;
	--text-color:#000;
	--body-padding:40px; /* 0px */
	--body-row-direction:row-reverse; /* column */
	--cntainr-width:60vw; /* 100% */
	--cntainr-align-items:center; /* start */
	--cntainr2-width: 20vw; /* calc(100% - 40px) */
	--cntainr2-padding-bottom: 20px; /* 0px */
	--namesakes-display: block; /* none */
	--outputresult-width: 95%; /* calc(100% - 4px) */
	--inputstuff-width: 95%; /* calc(100% - 8px) */
	transition:0.5s;
} /* in comments above is mobile css. the actual mobile css code is implemented using js */

.rmvButtons{
	width:130px;
}
.outputResult{
	resize:none;
	color:var(--text-color);
	font-size:20px;
	width:var(--outputresult-width);
	background-color:var(--bg-color);
	min-height:300px;
	border:2px #000 inset;
	user-select: none;
}
.outputResult p{
	margin:0px;
	padding-left:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: all;
}
.inputStuff{
	width:var(--inputstuff-width);
	color:#666;
	transition:0.1s;
	font-weight: bolder;
}
.inputStuff:focus{
	color:#000;
}
textarea.rmvButtons{
	padding:0px;
	border:0px;
}
body{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:var(--body-row-direction);
	justify-content:center;
	padding-top:var(--body-padding);
	margin:0px;
	background-color:var(--bg-color);
	color:var(--text-color);
}
button{
	color:var(--text-color);
	background-color:var(--bg-color);
}
select{
	color:var(--text-color);
	background-color:var(--bg-color);
}
input{
	color:var(--text-color);
	background-color:var(--bg-color);
}
#toaster{
	position:fixed;
	top:-60px;
	transition:1s;
	box-shadow:var(--darkest-color) 0px 0px 5px 10px;
    background:var(--darkest-color);
}
.btm5{
	margin-bottom:5px;
}
.addsomepadding{
	padding:10px;
}
.cntainr{
		width:var(--cntainr-width);
		padding:20px 0px 80px 0px;
		background-color:var(--dark-color);
		display:flex;
		align-items:var(--cntainr-align-items);
		flex-direction:column;
}
.cntainr2{
		width:var(--cntainr2-width);
		padding:20px;
		padding-bottom:var(--cntainr2-padding-bottom);
		background-color:var(--dark-color);
}
.namesakes{
	display:var(--namesakes-display); 
}