body {font-family: Arial, sans-serif;overflow: hidden;margin: 0;padding: 0;}
#paper-stack {position: relative;width: 100%; height: calc(100vh - 70px);overflow: hidden;text-align:left;}
.page {position: absolute;top: 0;left: 0;width: 85%;margin-left:3%;height: 100%;padding: 50px;background-color: white;border: 3px solid #ccc;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);transform: translateY(100%);transition: transform 0.5s ease-in-out;overflow: auto;}
.page.active {transform: translateY(0%);}
#prevBtn, #nextBtn, #pageNum {position: fixed;bottom: 20px;padding: 10px;font-size: 16px;background-color: #007BFF;color: white;border: none;border-radius: 5px;cursor: pointer;}
#prevBtn:hover, #nextBtn:hover, #pageNum:hover {background-color: #0056b3;}
#prevBtn {left: 20px;}
#nextBtn {right: 20px;}
#pageNum {left: 50%;transform: translateX(-50%);}