/*DEFAULT*/

.btn {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #47d182;
    padding: 10px 25px;
    border: solid 2px transparent;
    box-shadow: none;
    border-radius: 10px;
    transition: 300ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

    .btn:hover {
        transition: 352ms;
        background-color: #91e8b5;
        border: solid 2px #47d182;
    }

/*TWITTER*/

.btntwitt {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #1da1f2;
    padding: 10px 25px;
    border: solid 2px transparent;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.btntwitt:hover {
    background-color: #657786;
    border: solid 2px #1da1f2;
    transition: 352ms;
}

/* CHECKBOXES */

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/*Pony Town Skin Checkmark*/
.ptskincheckmark {
    background-color: #6c757d;
    width: .7rem;
    height: .7rem;
    border-radius: 0.25rem;
    padding: 4px;
    vertical-align: bottom;
    margin-top: 10px;
}

.ptskinemptycheckmark {
    background-color: #222222;
    border: 1px solid #555;
    width: .7rem;
    height: .7rem;
    border-radius: 0.25rem;
    padding: 4px;
    vertical-align: bottom;
    margin-top: 10px;
}

.ptskindischeckmark {
    background-color: #2f2f2f;
    border: 1px solid #555;
    width: .7rem;
    height: .7rem;
    border-radius: 0.25rem;
    padding: 4px;
    vertical-align: bottom;
    margin-top: 10px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}