/*DEFAULT*/

.btn {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #47d182;
    padding: 10px 25px;
    border: solid 2px transparent;
    box-shadow: none;
    border-radius: 10px;
    transition: 352ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

    .btn:hover {
        transition: 352ms;
        background-color: #91e8b5;
        border: solid 2px #47d182;
    }

/*TWITTER*/

.btntwitt {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #1da1f2;
    padding: 10px 25px;
    border: solid 2px transparent;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.btntwitt:hover {
    background-color: #657786;
    border: solid 2px #1da1f2;
    transition: 352ms;
}