/* Vars Start */
:root {
    /* Defaults */
    --parent-mainfill: #47D182;
    --parent-textfill: #C3F8CD;
    --headtitlecol: #ddbb74;
    --linkcol: #D88856;
    --linkhovcol: #e6b494;
    --textcol: #ffffff;
    --backgcol: #333333;
    --boxcol: #212121;
    --hrcol: #555;
    --disbledform: #848484;
    --buttoncol: #449d44;
    --textmuted: #9c9c9c;
    --textred: #d9534f;
    --parent-flavourfontsize: 85%;
	overflow-wrap: break-word;
    /* SagiriHimoto Info */
    --SagiriHimotoAvatar: url('https://i.ibb.co/VpyYf1q/12-2.png');
    --SagiriHimotoBanner: url('https://i.ibb.co/68bJjjG/cover2-twitt.png');
}
::-moz-selection {color: white;background: blue;}
::selection {color: white;background: blue;}

/* Vars End */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.ptform {
	display: inline-block;
	padding: 0.375rem 0.75rem;
    overflow-wrap: break-word;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ddd;
	background-color: #222;
	background-clip: padding-box;
	border: 1px solid #555;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin:10px;
    min-height: 25px;
    flex: 1 0 21%;
}

.ptform:focus {
	display: inline-block;
	padding: 0.375rem 0.75rem;
    overflow-wrap: break-word;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ddd;
	outline: 0;
	background-clip: padding-box;
	border: 1px solid #83bfff;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin:10px;
    min-height: 25px;
	box-shadow: 0 0 0 0.2rem rgba(80,165,255,.3);
    flex: 1 0 21%;
}

.ptformcolor {
    background-color: var(--ParentBoxFill);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
    width: 24px;
    height: 24px;
    border: 1px solid #555;
    border-radius: 2px;
    pointer-events: none;
}

.lockptform {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
    width: 27px;
    height: 27px;
	color: #ddd;
	background-color: #222;
	background-clip: padding-box;
	border: 1px solid #555;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin:10px;
    vertical-align: top;
    padding: 5px;
}

.lockptform svg {
    width: 25px;
    height: 25px;
}

.lockptform.disabled svg {
    color: transparent;
}

.copyableptform {
    display: inline-block;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ddd;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #555;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    height: 25px;
    flex: 1 0 21%;
    min-width: 140px;
}

.copyableptform:active {
    border-color: #83bfff !important;
    box-shadow: 0 0 0 0.2rem rgba(80,165,255,.3) !important;
}

.skindisplay {
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 8px;
    image-rendering: pixelated;
}

html {
}
body {
    background-color: #333;
    font-family: Consolas;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 1s;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* Blog Post Parts */
.FooterPart {
	height: 50px;
	width: 100%;
	color: var(--textcol);
}
.BlogPostMain {
	min-height: 400px;
	padding: 100px 150px 0 150px;
}

.TextFlavour {
	position: relative;
	display: inline-block;
	border: 0px solid transparent;
	padding: 2px 4px 2px 4px;
	background-color: var(--parent-mainfill);
	color: var(--parent-textfill);
	border-radius: 3px;
	margin: auto 0 auto 5px;
	font-size: var(--parent-flavourfontsize);
	vertical-align: text-top;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.BlogText {
	background-color: var(--boxcol);
	color: var(--textcol);
	min-height: 400px;
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 5%;
	padding: 15px 30px 20px 30px;
}
.ABlogText {
	padding-top: 10px;
}

.ABlogTextTitle {
	position: relative;
	display: inline-block;
	margin: 5px 0px 15px 0px;
	padding-bottom: 3px;
	font-size: 20px;
	font-weight: bolder;
	border-bottom: 1px solid var(--headtitlecol);
	width: 100%;
	color: var(--headtitlecol);
}

.ABlogTextTitleSmall {
	position: relative;
	display: inline-block;
	margin: 10px 0px 5px 0px;
	padding-bottom: 3px;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid var(--headtitlecol);
	width: 100%;
	color: var(--headtitlecol);
}

.ABlogTextItalics {
	font-style: oblique;
}
.ABlogTextBold {
	font-weight: bold;
}

.ABlogTextQuotes {
	border-radius: 5px;
	background-color: var(--backgcol);
	color: var(--parent-textfill);
	padding: 10px;
	margin: 10px 0px 10px 0px;
}
.ABlogTextFiles {
	border-radius: 5px;
	background-color: #e6e6e6; /*#333*/
	color: #000; /*#98F0A9*/
	margin: 10px 0px 10px 0px;
	padding: 10px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.ABlogTextFiles li:nth-child(odd) {
    background-color: #d9d9d9; /*#444*/
}
.ABlogTextFiles li:nth-child(even) {
    background-color: #ccc; /*#444*/
}
.ABlogTextFiles li:first-child {
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 5px;
}
.ABlogTextFiles li:last-child {
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 5px;
}
.ABlogTextFiles li {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	padding: 1px;
}
.ABlogTextFiles li:hover {
	background-color: #AAA;
}
.file-size {
	float: right;
	padding-right: 0px;
}
.file-name {
}
/* Embeds */
.VideoFrame {
	position: relative;
	border: 5px inset #999;
	border-radius: 5px;
	background-color: #000;
	aspect-ratio: 16 / 9;
	width: 80%;
	height: auto;
	margin: 10px auto;
	overflow: hidden; 
	display: block;
}
.VideoFrame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}
.VideoFrame video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}
.audioembed {
	margin: 10px 0px 10px 0px;
	border: 0px solid transparent;
	border-radius: 5px;
	background-color: #e6e6e6;
	padding: 8px;
}
audio::-webkit-media-controls-panel {
	background-color: #fff;
}
audio::-webkit-media-controls {
	/* background-color: #fff; */
	border-radius: 5px;
	border: 1px solid #aaa;
}
audio::-webkit-media-controls-enclosure {
	border-radius:0px;
}
.audioembed audio {
	width:100%;
	margin: auto;
	border: 0px;
}
.audioembed iframe {
	width:100%;
}
.audioembed button {
	background-color: #fff;
	margin: 3px;
	border: 1px solid #aaa;
	font-size: 15px;
	border-radius: 5px;
	padding: 10px;
}
.audioembed button:active {
	background-color: #ddd;
	transition: all 0.15s;
}
.audioembed button:hover {
	background-color: #eee;
	transition: all 0.1s;
	cursor: pointer;
}
.audioembed button i {
	vertical-align: middle;
}
.ghembed {
	margin: 10px 0px -5px 0px;
}
.pastembed {
	margin: 10px 0px 10px 0px;
}
.googdocembed {
	margin: 10px 0px 10px 0px;
	border: 5px inset #999;
	border-radius: 5px;
	background-color: #000;
}
.googdocembed iframe {
	width:100%;
	height:350px;
	border: 0px solid;
}
.googdocembed iframe:nth-child(n) {
	margin: auto;
}
/* ------ */
/* --------------- */
/* -----Image----- */
/* --------------- */
img {
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.siteblock {
	image-rendering: pixelated;
	position: relative;
	border: 5px #666;
	border-radius: 5px;
	background-color: #999;
	overflow: hidden; 
	display: block;
}
.imgHalfPerc {
	width: 50%;
	height: auto;
}
.imgThirdPerc {
	width: 30%;
	height: auto;
}
.imgHunPerc {
	width: 100%;
	height: auto;
}
.imgMarg10auto {
	margin: 10px auto;
}
.imgMarg10right {
	margin: 10px 0px 10px auto;
}
.imgMarg10left {
	margin: 10px auto 10px 0px;
}
/* --------------- */
/* ----ImageEND--- */
/* --------------- */
.AuthorTextMuted {
	color: var(--textmuted);
	font-size: 12px;
}
/*-----------------------------*/
/*-----------Nav-bar-----------*/
/*-----------------------------*/
.imglogo32 {
	vertical-align: sub;
	height: 32px;
	width: 32px;
	pointer-events: none;
}
.imglogo44 {
	vertical-align: middle;
	height: 64px;
	width: 64px;
	pointer-events: none;
	margin-left: 10px;
}
.navigationbar {
	height: 55px;
	/*position: fixed;*/
	width: 100%;
	z-index: 999;
	margin-top: 10px;
	text-decoration: none;
	font-size: 34px;
	font-weight: bold;
	color: var(--parent-textfill);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*-----------------------------*/
/*----------Nav-bar-End--------*/
/*-----------------------------*/

/*-----------------------------*/
/*---------Tooltips------------*/
/*-----------------------------*/
.tooltipable {
	position: relative;
	display: inline-block;
	color: var(--parent-textfill);
	border-bottom: 2px dotted var(--parent-textfill);
}

.tooltipable:hover {
	transition: 0.5s;
	color: var(--parent-mainfill);
}

/*-----------------------------*/
/*---------Tooltips-End--------*/
/*-----------------------------*/

/*-------------------------------*/
/*---------COLORWHEEL-END--------*/
/*-------------------------------*/
.color-picker-panel {
  background: #1f232a;
  width: 310px;
  border-radius: 8px;
  border: 2px solid #364347;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.panel-row {
  position: relative;
  margin: 0 10px 10px;
}
.panel-row:first-child {
  margin-top: 10px;
  margin-bottom: 6px;
}
.panel-row:after {
  content: '';
  display: table;
  clear: both;
}
.panel-header {
  background: #15191c;
  padding: 8px;
  margin: 0 -10px 10px;
  text-align: center;
}
.swatch {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  box-sizing: border-box;
  border: 2px solid #364347;
  cursor: pointer;
}
.default-swatches {
  width: 212px;
}
.default-swatches .swatch:nth-child(6n + 1) {
  margin-left: 0;
}
.color-cursor {
  border-radius: 100%;
  background: #ccc;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  border: 2px solid #fff;
  transition: all 0.2s ease;
}
.color-cursor.dragging {
  transition: none;
}
.color-cursor#spectrum-cursor {
  width: 30px;
  height: 30px;
  margin-left:- 15px;
  margin-top: - 15px;
  top: 0;
  left: 0;
}
.color-cursor#hue-cursor {
  top: 0;
  left: 50%;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: -10px;
  pointer-events: none;
}
.spectrum-map {
  position: relative;
  width: 212px;
  height: 200px;
  overflow: hidden;
}
#spectrum-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
}
.hue-map {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 29px;
  width: 10px;
}
#hue-canvas {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
}
.btncolor {
  background: #2a3137;
  border: 0;
  border-radius: 4px;
  color: #8b949a;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  outline: none;
  cursor: pointer;
  padding: 4px;
}
.btncolor:active {
  background: #262c31;
}
.button.eyedropper {
  position: absolute;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  display: block;
}
.button.add-swatch {
  display: block;
  padding: 6px;
  width: 200px;
  margin: 10px auto 0;
}
.button.mode-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 40px;
}
.value-fields {
  display: none;
  align-items: center;
}
.value-fields.active {
  display: flex;
}
.value-fields .field-label {
  margin-right: 6px;
}
.value-fields .field-input {
  background: #15191c;
  border: 1px solid #364347;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 38px;
  padding: 0 4px;
  text-align: center;
  color: #8b949a;
  font-size: 1rem;
  display: block;
}
.rgb-fields .field-group {
  display: flex;
  align-items: center;
}
.rgb-fields .field-input {
  width: 42px;
  margin-right: 10px;
}
.hex-field .field-input {
  width: 170px;
}
.color-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #ccc;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*-------------------------------*/
/*---------COLORWHEEL-END--------*/
/*-------------------------------*/

/*-----------------------------*/
/*---------MOBILE---CSS--------*/
/*-----------------------------*/

@media only screen and (max-width: 800px) {
	.BlogPostMain {
		min-height: 400px;
		padding: 100px 10px 0 10px;
	}
}