/* Vars Start */
:root {
	/* Defaults */
	--parent-mainfill: #47D182;
	--parent-textfill: #C3F8CD;
	--headtitlecol: #ddbb74;
	--linkcol: #D88856;
	--linkhovcol: #e6b494;
	--textcol: #ffffff;
	--backgcol: #333333;
	--boxcol: #212121;
	--hrcol: #555;
	--disbledform: #848484;
	--buttoncol: #449d44;
	--textmuted: #9c9c9c;
	--textred: #d9534f;
	--parent-flavourfontsize: 85%;
	/* SagiriHimoto Info */
	--SagiriHimotoAvatar: url('https://i.ibb.co/VpyYf1q/12-2.png');
	--SagiriHimotoBanner: url('https://i.ibb.co/68bJjjG/cover2-twitt.png');
	overflow-wrap: break-word;
}
::-moz-selection {color: white;background: blue;}
::selection {color: white;background: blue;}

/* Vars End */

/* Buttons */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.ptform {
	display: block;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ddd;
	background-color: #222;
	background-clip: padding-box;
	border: 1px solid #555;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin:10px;
}

/* Animations */
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/* Animations End */

html {
}
body {
	background-color: #333;
	font-family: Consolas;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.5px;
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* Blog Post Parts */
.FooterPart {
	height: 50px;
	width: 100%;
	color: var(--textcol);
}
.BlogPostMain {
	min-height: 400px;
	padding: 100px 150px 0 150px;
}

.TextFlavour {
	position: relative;
	display: inline-block;
	border: 0px solid transparent;
	padding: 2px 4px 2px 4px;
	background-color: var(--parent-mainfill);
	color: var(--parent-textfill);
	border-radius: 3px;
	margin: auto 0 auto 5px;
	font-size: var(--parent-flavourfontsize);
	vertical-align: text-top;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.BlogText {
	background-color: var(--boxcol);
	color: var(--textcol);
	min-height: 400px;
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 5%; /* idk why but margin-bottom propert didn't work for "BlogPostMain", but it worked here */
	padding: 15px 30px 20px 30px;
}
.ABlogText {
	padding-top: 10px;
}

.ABlogTextTitle {
	position: relative;
	display: inline-block;
	margin: 5px 0px 15px 0px;
	padding-bottom: 3px;
	font-size: 20px;
	font-weight: bolder;
	border-bottom: 1px solid var(--headtitlecol);
	width: 100%;
	color: var(--headtitlecol);
}

.ABlogTextTitleSmall {
	position: relative;
	display: inline-block;
	margin: 10px 0px 5px 0px;
	padding-bottom: 3px;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid var(--headtitlecol);
	width: 100%;
	color: var(--headtitlecol);
}

.ABlogTextItalics {
	font-style: oblique;
}
.ABlogTextBold {
	font-weight: bold;
}

.ABlogTextQuotes {
	border-radius: 5px;
	background-color: var(--backgcol)
	color: var(--parent-textfill)
	padding: 10px;
	margin: 10px 0px 10px 0px;
}
.ABlogTextFiles {
	border-radius: 5px;
	background-color: #e6e6e6; /*#333*/
	color: #000; /*#98F0A9*/
	margin: 10px 0px 10px 0px;
	padding: 10px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.ABlogTextFiles li:nth-child(odd) {
    background-color: #d9d9d9; /*#444*/
}
.ABlogTextFiles li:nth-child(even) {
    background-color: #ccc; /*#444*/
}
.ABlogTextFiles li:first-child {
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 5px;
}
.ABlogTextFiles li:last-child {
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 5px;
}
.ABlogTextFiles li {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	padding: 1px;
}
.ABlogTextFiles li:hover {
	background-color: #AAA;
}
.file-size {
	float: right;
	padding-right: 0px;
}
.file-name {
}
/* Embeds */
.VideoFrame {
	position: relative;
	border: 5px inset #999;
	border-radius: 5px;
	background-color: #000;
	aspect-ratio: 16 / 9;
	width: 80%;
	height: auto;
	margin: 10px auto;
	overflow: hidden; 
	display: block;
}
.VideoFrame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}
.VideoFrame video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}
.audioembed {
	margin: 10px 0px 10px 0px;
	border: 0px solid transparent;
	border-radius: 5px;
	background-color: #e6e6e6;
	padding: 8px;
}
audio::-webkit-media-controls-panel {
	background-color: #fff;
}
audio::-webkit-media-controls {
	/* background-color: #fff; */
	border-radius: 5px;
	border: 1px solid #aaa;
}
audio::-webkit-media-controls-enclosure {
	border-radius:0px;
}
.audioembed audio {
	width:100%;
	margin: auto;
	border: 0px;
}
.audioembed iframe {
	width:100%;
}
.audioembed button {
	background-color: #fff;
	margin: 3px;
	border: 1px solid #aaa;
	font-size: 15px;
	border-radius: 5px;
	padding: 10px;
}
.audioembed button:active {
	background-color: #ddd;
	transition: all 0.15s;
}
.audioembed button:hover {
	background-color: #eee;
	transition: all 0.1s;
	cursor: pointer;
}
.audioembed button i {
	vertical-align: center;
}
.ghembed {
	margin: 10px 0px -5px 0px;
}
.pastembed {
	margin: 10px 0px 10px 0px;
}
.googdocembed {
	margin: 10px 0px 10px 0px;
	border: 5px inset #999;
	border-radius: 5px;
	background-color: #000;
}
.googdocembed iframe {
	width:100%;
	height:350px;
	border: 0px solid;
}
.googdocembed iframe:nth-child {
	margin: auto;
}
/* ------ */
/* --------------- */
/* -----Image----- */
/* --------------- */
img {
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.siteblock {
	image-rendering: pixelated;
	position: relative;
	border: 5px #666;
	border-radius: 5px;
	background-color: #999;
	overflow: hidden; 
	display: block;
}
.imgHalfPerc {
	width: 50%;
	height: auto;
}
.imgThirdPerc {
	width: 30%;
	height: auto;
}
.imgHunPerc {
	width: 100%;
	height: auto;
}
.imgMarg10auto {
	margin: 10px auto;
}
.imgMarg10right {
	margin: 10px 0px 10px auto;
}
.imgMarg10left {
	margin: 10px auto 10px 0px;
}
/* --------------- */
/* ----ImageEND--- */
/* --------------- */
.AuthorTextMuted {
	color: var(--textmuted);
	font-size: 12px;
}
/*-----------------------------*/
/*-----------Nav-bar-----------*/
/*-----------------------------*/
.imglogo32 {
	vertical-align: sub;
	height: 32px;
	width: 32px;
	pointer-events: none;
}
.imglogo44 {
	vertical-align: middle;
	height: 64px;
	width: 64px;
	pointer-events: none;
	margin-left: 10px;
}
.navigationbar {
	height: 55px;
	/*position: fixed;*/
	width: 100%;
	z-index: 999;
	margin-top: 10px;
	text-decoration: none;
	font-size: 34px;
	font-weight: bold;
	color: var(--parent-textfill);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*-----------------------------*/
/*----------Nav-bar-End--------*/
/*-----------------------------*/

/*-----------------------------*/
/*---------Tooltips------------*/
/*-----------------------------*/
.tooltipable {
	position: relative;
	display: inline-block;
	color: var(--parent-textfill);
	border-bottom: 2px dotted var(--parent-textfill);
}

.tooltipable:hover {
	transition: 0.5s;
	color: var(--parent-mainfill);
}

/*-----------------------------*/
/*---------Tooltips-End--------*/
/*-----------------------------*/

/*-----------------------------*/
/*---------MOBILE---CSS--------*/
/*-----------------------------*/

@media only screen and (max-width: 800px) {
	.BlogPostMain {
		min-height: 400px;
		padding: 100px 20px 0 20px;
	}
}